.li1 { 
	list-style: none 
} 

.li2{
	font-size : 10px;
}

section#new {
    height:650px;
    margin-top:20px;
    border-top:solid 2px #9bc32a;
}
section#new h3 {
    margin:20px 0 0 35px;
}
section#new h3 span{
    color:#80a727;
}
section#new .item{
    float:left;
    text-align:center;
    margin:20px 0 0 32px;
}
section#new .item .subject{
    margin-top:10px;
    color:#80a727;
}
section#new .item .comment{
    margin-top:5px;
    color:#888888;
}
section#new .item .price{
    margin-top:5px;
    font-weight:bold;
}

/* 메인 콘텐츠 */
section#main {
    width:1500px;
    margin:auto;
    
}
/* 좌측 카테고리 + 메인 이미지 + 공지사항/주간 이벤트 */
section#cat1 {
    width:215px;
    float:left;
    margin-top:15px;
    font-weight:bold;
}
section#cat1 #cat_title {
    padding:12px;
    background-color:#96c11f;
    color:#ffffff;
    text-align:center;
}
section#cat1 li {
    color:#666666;
    padding:7px 0 7px 30px;
    border-bottom:solid 1px #cccccc;
}