#topNav ul{list-style:none; margin:0px; padding:0px;}
#topNav ul li a{text-decoration:none; display:block; width:110px; height:30px; line-height: 30px; text-align:center;}
#topNav ul li {width:110px;}
#TOP_sns {float:left; text-align:right;}
#TOP_sns li {float:left;}
.dept01{float:left;}
.dept01 li{float:left;}
.dept01 ul{display:none; position:relative; left:-200px;}
.dept01 li:hover > ul {display:block;}
.dept02 li{position:relative; width:100%; left:200px;}
.dept03 li{position:relative; left:270px; top:-60px;}
/* ul li a{text-decoration:none; display:block; width:110px; height:30px; line-height: 30px; text-align:center;}
ul li {width:110px;} */
/* ul li:hover{background-color:#FFE08C;} */
nav ul{padding-top:10px;}
.navbar-default {
    background-color: #74e2fe;
}

html, body {
	 margin: 0;
    height: 100%;
}
.tableColorstyle:not(.nonestyle) {
   background-color: #ffffff;
   opacity: 0.8;
}
* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
.container {
min-height: 100%;
position: relative;
padding-bottom: 19px; /* footer height */
}
ol {
margin: 0;
}